<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css" rel="stylesheet">
  <link rel="icon" href="/favicon.ico">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!-- Grab title from the page data and dump it here -->
  <title>{{ title }}</title>
</head>

<body>
  <main>
    <header class="home">
      <h1><span class="name">Janessa Tran </span><span class="sr-only">is a </span><abbr>Software engineer,</abbr> artist, triplet, ally, life-long learner.</h1>
    </header>
    <section class="section text">
      <h2>About</h2>
      <div class="section-content">
        <section class="subsection">
          <h3>Values</h3>
          <div class="subsection-content">
            <p>I value creativity, learning, and inclusivity. I'm motivated to create things that help people in some way. I try to surround myself with people who seek growth and whose dispositions tend toward looking at the bright side.</p>
          </div>
        </section>
        <section class="subsection">
          <h3>Background</h3>
          <div class="subsection-content">
            <p>I'm a data analyst turned full-stack software engineer with experience in web and mobile application development. I'm also a first-generation college graduate from San Diego State University.</p>
          </div>
        </section>
      </div>
    </section>
    <section class="section cards">
      <h2>Selected Works</h2>
      <div class="section-content">
        <section class="subsection">
          <h3>Articles</h3>
          <div class="subsection-content">
            <dl>
              <div class="card">
                <dt><a href="https://dev.to/janessatran/a-beginner-s-guide-to-contributing-to-open-source-4fen" rel="external">A Beginner's Guide to Open Source</a></dt>
                <dd>An article that outlines how to get started with open-source contributions. Includes "green flags" for beginners to look out for when considering projects.</dd>
              </div>
            </dl>
          </div>
        </section>
        <section class="subsection">
          <h3>Animation</h3>
          <div class="subsection-content">
            <dl>
             <div class="card">
                <dt><a href="https://janessatran.github.io/threejs-portal rel="external">Portal Scene</a></dt>
                <dd>My first 3D scene created with Blender and ThreeJS</dd>
              </div>
              <div class="card">
                <dt><a href="https://sites.google.com/site/tranjanessa/home/lorenzanimations" rel="external">Animations of Higher Dimensional Lorenz Models</a></dt>
                <dd>Animating the 3D, 5D, and 7D Lorenz Models using Python.</dd>
              </div>
            </dl>
          </div>
        </section>
        <section class="subsection">
          <h3>Apps</h3>
          <div class="subsection-content">
            <dl>
              <div class="card">
                <dt><a href="https://janessatran.github.io/calculator" rel="external">Calculator</a></dt>
                <dd>A calculator capable of basic arithmetic made with JavaScript. Accepts input from button presses with mouse and text input from keyboard. Computes simple operation by translating string input into numbers and mathematical operators. Can handle negative/positive integers.</dd>
              </div>
              <div class="card">
                <dt><a href="https://github.com/janessatran/MorningBird" rel="external">Morning Bird</a></dt>
                <dd>An iOS application built using SwiftUI. Users are able to enter cities and access current weather information. Within the app, they get an inspiring quote each day as well as a song recommendation via Spotify. Additionally, users can build up a jacket recommendation system that using self-sampled data to help them determine if it's jacket weather!</dd>
              </div>
              <div class="card">
                <dt><a href="https://janessatran.github.io/etch-a-sketch/" rel="external">Etch-a-Sketch</a></dt>
                <dd>An etch-a-sketch canvas that enables you to draw simple pixelated art. Uses JavaScript to create the grid dynamically.
</dd>
              </div>
              <div class="card">
                <dt><a href="https://janessatran.github.io/gratitude-list/" rel="external">Gratitude List</a></dt>
                <dd>A gratitude list built with ReactJS and tested with Jest and Enzyme. Enables users to denote what their grateful for and download the list as a JSON file for long-term keeping if desired.
</dd>
              </div>
              <div class="card">
                <dt><a href="https://janessatran.github.io/pomdoro-timer/" rel="external">Pomodoro Timer</a></dt>
                <dd>A pomodoro timer application. Allows users to set work and break session times. When a session is completed, a bell sound chimes.

</dd>
              </div>
              <div class="card">
                <dt><a href="https://github.com/janessatran/railsapp" rel="external">TIL notes</a></dt>
                <dd>A Ruby on Rails application that enables users to search "cheatsheets" by tags, create "cheatsheets", like others' "cheatsheets", and follow other users.
</dd>
              </div>
              <div class="card">
                <dt><a href="https://janessatran.github.io/html5game/" rel="external">Aventures of Leat Game</a></dt>
                <dd>Platformer game built using <a href="https://phaser.io/">Phaser</a>, a JavaScript framework for Canvas and WebGL browser based games. The objective is to unlock levels by getting keys to doors, avoid spiders, and collect coins along the way!</dd>
              </div>
            </dl>
          </div>
        </section>
      </div>
    </section>
    <section class="section text">
      <h2>Current</h2>
      <div class="section-content">
        <section class="subsection">
          <h3>Role</h3>
          <div class="subsection-content">
            <p><abbr class="normal">Software Engineer</abbr> at <a href="https://express.adobe.com/express-apps/animate-from-audio/" rel="external noreferrer">Adobe</a></p>
          </div>
        </section>
        <section class="subsection">
          <h3>Elsewhere</h3>
          <div class="subsection-content">
            <p><a href="https://github.com/janessatran" rel="external noreferrer">GitHub</a>, <a href="https://codepen.io/janessatran" rel="external noreferrer">CodePen</a>, <a href="https://instagram.com/byjanessa" rel="external noreferrer">Instagram</a>, and <a href="https://www.linkedin.com/in/janessatran/" rel="external noreferrer">LinkedIn</a>.</p>
          </div>
        </section>
      </div>
    </section>
  </main>