---
layout: layout.njk
title: Journal
---

<ul class="journal">
{% for post in collections.blog %}
  <li class="horizontal"><a href="{{ post.url }}">{{ post.data.title }}</a>
    <hr class="grow">
    <p class="journal-entry-date">{{ post.data.date.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})  }}</p>
  </li>
{% endfor %}
</ul>
