---
layout: layout.njk
title: My First Eleventy Page!
---

<p class="center-large-text gap-xl">Empathy driven creator with the goal of evoking joy. Letting curiousity by my compass! Currently building web products as a Software Engineer at <a href="https://express.adobe.com/express-apps/animate-from-audio/" class="color-slide .underline" target="_blank">Adobe</a>.</p> 
