---
layout: layout.njk
title: Inspiration
---

<p class="center-large-text | gap-xl">I love learning about what inspires people. It helps me understand who they are and what they're driven by and what they're curious about. These are some of the things that inspire me!!</p>
