--- 
layout: layout.njk 
title: Inspiration 
---

<blockquote class="center-large-text gap-xl">
  <p>Imagination is the beginning of creation. You imagine what you desire, you will what you imagine, and at last, you create what you will.</p>
  
  <footer>George Bernard Shaw</footer>
    
</blockquote>
